<!DOCTYPE html>
<html lang="en">
<style>
b{
    background: lightblue;
}
    h{  
        text-align: right;
        color: greenyellow;
        height: 100;
        width: 200;
    }
/*p1{
    text-align: justify;
    color: black;
}*/
/*p2{
    text-align: center;
    color: black;
}
p3{
    text-align: right;
    color: black;
}
p4{
    text-align: left;
    color: black;
}*/


</style>
<head>
    <title>Dominos pizza</title>
</head>
<body>
    <h>Dominos pizza</h>
    <p>Акції<p>
    <p>Піци</p>
    <p>Напої</p>
    <p>Сайди</p>
    <p>Десерти</p>
    <p>Maybe soon ....</p>
</body>
</html>